<div class="cabecero">
    <app-budget
    [resultExpense]="resultExpense"
    [resultIncome]="resultIncome"
    [totalResult]="totalResult"
    ></app-budget>
</div>


<!-- FORM -->

<app-form (propagar)="procesaPropagar($event)"></app-form>

<!-- FORM -->

<!-- LISTCONTAINER -->
  
  <div class="contenedor limpiarEstilos">
      <div class="ingreso">
          <h2 class="ingreso_titulo">Ingresos</h2>
             
              
             
                <!-- LIST INCOME -->
                <app-list-income></app-list-income>
                <!-- LIST INCOME -->
              
      </div>
      
      
      
      <div class="egreso">
          <h2 class="egreso_titulo">Egresos</h2>
             
            

              <!-- LIST EXPENSES -->
              <app-list-expenses></app-list-expenses>
              <!-- LIST EXPENSES -->

              
              
      </div>
  </div>

  <!-- LISTCONTAINER -->

